In [1]:
import pandas as pd
import numpy as np

In [12]:
keywords_df = pd.read_csv('keywords.csv')
movies_metadata_df = pd.read_csv('movies_metadata.csv')
ratings_df = pd.read_csv('ratings_small.csv')
links_small = pd.read_csv('links_small.csv')

E:\programs\anaconda\envs\deep\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [10]:
ratings_df.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [36]:
md = movies_metadata_df[['id','original_title','popularity','vote_count','genres']]
md.head()

,id,original_title,popularity,vote_count,genres
0,862,Toy Story,21.946943,5415.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,17.015539,2413.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,11.7129,92.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,3.859495,34.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,8.387519,173.0,"[{'id': 35, 'name': 'Comedy'}]"