In [1]:
import pandas as pd
import numpy as np

In [12]:
keywords_df = pd.read_csv('keywords.csv')
movies_metadata_df = pd.read_csv('movies_metadata.csv')
ratings_df = pd.read_csv('ratings_small.csv')
links_small = pd.read_csv('links_small.csv')

E:\programs\anaconda\envs\deep\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [10]:
ratings_df.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [58]:
md = movies_metadata_df[['id','original_title','popularity','vote_count','genres']]
md.sort_values('vote_count', ascending=False).head(10)

,id,original_title,popularity,vote_count,genres
15480,27205,Inception,29.108149,14075.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
12481,155,The Dark Knight,123.167259,12269.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name..."
14551,19995,Avatar,185.070892,12114.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
17818,24428,The Avengers,89.887648,12000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
26564,293660,Deadpool,187.860492,11444.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
22879,157336,Interstellar,32.213481,11187.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '..."
20051,68718,Django Unchained,19.785025,10297.0,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name..."
23753,118340,Guardians of the Galaxy,53.291601,10014.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na..."
2843,550,Fight Club,63.869599,9678.0,"[{'id': 18, 'name': 'Drama'}]"
18244,70160,The Hunger Games,20.031667,9634.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'..."